<!-- ///template driven form -->
<!-- <form action="" #formGroup="ngform" (ngSubmit)="onSubmit(formGroup)">
  <input type="text"   >
  <input type="text"   >
</form> -->


<!-- reactive form -->
<!-- 
<form  [formGroup]="reactiveform" (ngSubmit)="onSubmit()">
<input type="text" formControlName="name">
<input type="text" formControlName="password">


</form> -->

<!-- <app-crud></app-crud> -->

<!-- <app-crudrevision></app-crudrevision> -->

<h1>Counter: {{ counter$ | async }}</h1>




    <button (click)="onIncrement()">Increment</button>
    <button (click)="onIncrement()">Decrement</button>
    <button (click)="onReset()">Reset</button>